---
import { type Items } from '../core/interfaces/commerce.interface'
import { setItemsArray } from '../core/libs/set-array'

interface Props {
    items: Items
}

const { items } = Astro.props
const itemsArray = setItemsArray(items || [])

const cat = Astro.url.searchParams.get('cat')
let filteredItems
if (cat) {
    filteredItems = itemsArray.filter((item) => item.category === cat)
} else {
    filteredItems = itemsArray
}
---

<div class="py-5 md:py-10">
    <div class="columns-1 md:columns-2 lg:columns-3 gap-4">
        {
            filteredItems.map((item) => (
                <div class="border border-gray-500 rounded-md flex flex-col mb-4" style="break-inside: avoid;">
                    {
                        item.imageUrl && item.imageUrl.length > 0 && (
                            <img src={item.imageUrl} class="rounded-t-md" />
                        )
                    }
                    <div class="flex flex-col justify-between p-4">
                        <div>
                            <h2 class="font-medium">{item.name}</h2>
                            <p class="text-sm text-gray-500 line-clamp-3">{item.description}</p>
                        </div>
                        <div class="flex justify-between gap-2 flex-wrap items-center mt-2">
                            <span class="text-[#e09132] font-medium text-sm">s/{item.price}</span>
                            <span class="text-xs text-gray-500 bg-gray-100 px-2 rounded-full">{item.category}</span>
                        </div>
                    </div>
                </div>
            ))
        }
    </div>
</div>